@import
  "variables"
;


$small-width: 1200px;
@mixin laptop {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

.page, .page-header, .page-nav , .page-footer, .columns,.content-intro,.content-main, {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.page {
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}


.page-header, .page-content , .page-footer {
  margin: 0 15vw 0;
  width: 70vw;
  // max-width: 1200px;

  @include laptop{
    margin: 0 5vw 0;
    width: 90vw; 
  }

}


.page-content {
  background-color: #F5F5F5;
  flex: 1;
  // padding-bottom: $spacing * 2;
  // height: 100vh;
}

.page-header {
  min-height: 80px;
  height: 8vh; /* size is based on the height of the device */
  align-items: center;
  border-bottom: 1px solid $color-border;
  background-color: #fff;
  a {
    color: #000;
  }

  .page-nav {
    flex: 2;
    text-align: right;
    display: block;

    ul li + li {
      margin-left: $spacing;
    }
  }

}


.page-footer{
  background-color: $tsb-darkblue;
  a {
    color: #fff;
  }
}

.page-header{
  
  padding: $padding;

}

.page-footer {
  
  padding: $padding-md;
  min-height: 150px;

}


.page-content {

  .content-intro{

    min-height: 300px;
    flex: 1;
    border-bottom: 1px solid $color-border;
    // padding: 2em;

  }

  .content-main{
    min-height: 60vh;
    flex: 1;
    position: relative;
    
  }

}


.content-main{

  .content-main-map{
    flex:1;
    flex-basis: 40%;
  }

  .content-main-info{
    flex:1;
    display:block;
    padding: $padding;
    flex-basis: 60%;
    overflow-x: hidden;
  }

}


.content-main{

  .content-main-bzr-left{
    flex:1;
    flex-basis: 30%;
    background-color: $tsb-lightblue;

    .navigation{
      padding:$padding;
    }
  }

  .content-main-map{
    // flex:1;
    // // flex-basis: 70%;
  }

  .content-main-bzr-info{
    flex:1;
    display:block;
    padding: $padding-md;
    flex-basis: 70%;
    overflow-x: hidden;
    max-height: 90vh;
  }

}





.content-intro{

      // padding: 2em;

  // .intro-text{
  //   margin-bottom: 2em;
  //       // flex-basis: 33%;
  //       // padding: 2em;
  // }

  .intro-text{
    // flex-basis: 33%;
    padding: $padding-md;
    // flex-basis: 66%;
    // margin-bottom: 2em;
    background-color: #fff;
  }



  .intro-stats{

    display: flex;

    div{
      padding-right:20px;
    }

  }

}



// .page-footer, .page-explainer {
//   font-size: 0.85em;
//   padding: 3rem 0;
// }

// .page-container {
//   & > * {
//     padding: $spacing 0;
//   }

//   & > .inpage-nav, & > .content {
//     padding: 0;
//   }

//   .content .wrapper {
//     margin-top: $spacing;
//     margin-bottom: $spacing;
//   }
// }

.column, .columns > * {
  flex: 1;
}

// .columns-gutter > * {
//   margin-left: $spacing / 2;
//   margin-right: $spacing / 2;

//   &:first-child {
//     margin-left: 0;
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .columns-rows > * {
//   padding: $spacing 0;

//   &:first-child {
//     padding-top: 0;
//   }

//   &:last-child {
//     padding-bottom: 0;
//   }
// }

// .content {
//   padding: 0;

//   section {
//     padding: $spacing 0;
//   }

//   .section-wrapper {
//     display: flex;
//     align-items: center;

//     .section-text {
//       flex: 1;
//     }

//     .section-img {
//       flex: 1;
//       text-align: center;
//     }
//   }
// }

// .box {
//   background-color: #fff;
//   border: 1px solid #F1F2F4;
//   border-radius: 8px;
//   padding: 3rem;
//   box-shadow: 5px 5px 20px 0px rgba(116, 116, 116, 0.25);
// }


.c3-chart{
  font-family: $font-family-default;
}