$font-family-default: "clan-book", Helvetica, sans-serif !default;
$font-family-modern: 'clan-book', Monaco, monospace;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$base-line-height: 1.7 !default;

$spacing:     2rem !default;
$padding:     1em !default;


$color-text: #000 !default;

$color-default:     #223A8F !default;
$color-light:       #424BFB !default;

$color-second: #D9C744 !default;

$color-accent:      #04A6F0 !default;
$color-mute:        #a5a49f !default;


$color-border-mute:        rgba(0, 0, 0, .2) !default;

$color-dns:       #F1B31C;
$color-okf:       #04A6F0;
$color-okf-alt:   #3ef5c9;




$color-indGr1: #9466c9;
$color-indGr2: #5ba85f;
$color-indGr3: #c85990;
$color-indGr4: #ac973d;
$color-indGr5: #6295cd;
$color-indGr6: #cb6046;


$color-phase: #ddd;
$color-phase1: #fff;
$color-phase2: #B8E986;
$color-phase3: #FFE400;
$color-phase4: #F5A623;


$color-border: #ddd;