$font-family-default: "clan-book", Helvetica, sans-serif !default;
$font-family-bold: 'clan-medium', Monaco, monospace;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$base-line-height: 1.7 !default;

$spacing:     2rem !default;
$padding:     1em !default;
$padding-md:  2em !default;
$vis-margin: .5em 0 1.5em 0 !default;
// $padding-lg:  3em !default;


$color-text: #000 !default;

$color-default:     #223A8F !default;
$color-light:       #424BFB !default;

$color-second: #D9C744 !default;

$color-accent:      #04A6F0 !default;
$color-mute:        #a5a49f !default;


$color-border-mute:        rgba(0, 0, 0, .2) !default;

$color-dns:       #F1B31C;
$color-okf:       #04A6F0;
$color-okf-alt:   #3ef5c9;


$tsb-lightblue: rgb(55,90,165);
$tsb-darkblue: #1E3791;
$tsb-lightgray: #2E91D2;
$tsb-red: #E60032;

$color-indGr1: rgb(20,150,140);
$color-indGr2: rgb(100,185,230);
$color-indGr3: rgb(220,200,45);
$color-indGr4: rgb(230,0,50);
$color-indGr5: rgb(145,200,130);
$color-indGr6: rgb(45,145,210);


$color-phase: #ddd;
$color-phase1: #fff;
$color-phase2: #B8E986;
$color-phase3: #FFE400;
$color-phase4: #F5A623;


$color-border: #ddd;